*{
  box-sizing: border-box;
}
/* layout wp */
.row::after{
  content: "";
  clear: both;
  display: table;
}

[class^="col-"]{
  float: left;
}

.row{
  margin: 0 auto;
  width: 85%;
}

.col-100{
  width: 100%;
  margin: 0 auto;
}

.col-20{
  width: 20%;
  margin: 20px 0;
}

.col-60{
  width: 58%;
  margin:20px 1%;
}

.margin-t{
  margin-top: 20px;
}

/* layout wp */

.nav, .p-long{
  color: #d6cdcd;
}

.nav > p{
  display: inline-block;
}

.bg-banner1{
  background-image: url("../img/banner.jpg");
  height: 600px;
  border-radius: 25px;
}

#leadership{
  font-size: 50px;
}

div > h2{
  color: #FFFFFF;
  margin-top: 400px;
  margin-left: 50px;
}

#p-img{
  color: #FFFFFF;
  margin-left: 50px;
}

.h-img{
  height: 250px;
  width: 100%;
  object-fit: cover;
}



/* piè di pagina */
.page-footer{
  text-align: center;
}

#hearts{
  color: #ff0000;
}
/* piè di pagina */
